<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style/generalStyle.css">
    <link rel="stylesheet" href="../static/style/header-footer.css">
    <link rel="stylesheet" href="https://use.typekit.net/lkn6qbz.css">
    <link rel="stylesheet" href="../static/style/home.css">
    {% block stylesheets %}{% endblock %}
    <!-- social Media Tags -->
    <meta property="og:title" content="Cams Wood"/>
    <meta property="og:description" content="Cams Wood"/>
    <meta property="og:image" content="https://camswood.de/media/public/cams-wood-logo.png"/>
    <meta property="twitter:title" content="Cams Wood"/>
    <meta property="twitter:description" content="Cams Wood"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="https://camswood.de/media/public/cams-wood-logo.png"/>


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../media/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../media/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../media/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../media/public/favicon/site.webmanifest">

    <title>{% block title %}{% endblock %}</title>

    <script src="../static/scripts/init.js"></script>
</head>
<body id="body">
    <div class="top-text" style="background-image: url({{ page.img.url }});">
        <a href="{% url 'home' %}#contact">Kontakt</a>
        <h2 class="page-title">{{ page.title }}</h2>
    </div>
    <div class="logo">
        <img src="../../media/public/cams-wood.png" alt="">
    </div>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <div class="wrapper">
            <div>© {{ year }} camswood</div>
            <div class="madeby"><img class="codecrusher-logo" src="../../media/public/logo-icon.svg" alt=""><a href="https://codecrusher.ch/">made by codecrusher</a></div>
            <div class="links">
                <a href="{% url 'impressum' %}">Impressum</a>
                <a href="{% url 'dataprotection' %}">Datenschutzerklärung</a>
                <a href="admin/">Login</a>
            </div>
        </div>
    </footer>
</body>
</html>
